<p style="color: green"><%= notice %></p>

<h1>Events</h1>

<div id="events" style="display: grid; grid-template-columns: 1fr 1fr;">
  <% @events.each do |event| %>
    <%= render event %>
  <% end %>
</div>
